$fondo-gris: rgb(244, 244, 244);
$texto-general: rgb(74, 74, 74);
$borde-gris: rgb(185, 185, 185);
$color-azul: rgb(0, 102, 172);
$color-blanco: rgb(255,255,255);
$ancho-maximo: 768px;
$ancho-minimo:375px;

/*GENERICO*/
*{
    margin: 0;
    padding: 0;

}
body, section, article, nav, footer{
    font-family: Roboto;
    margin: 0 auto;
    max-width: $ancho-maximo;
    min-width: $ancho-minimo;
}
body{
    overflow-x:hidden;
}

/*MENU*/
.menuOdon{
    position: relative;
    height: 20px;
    padding: 20px 0;
    background: $color-azul;
    
    .capa-ico-back{
        width:20%;
        height: 20px;
        float: left;
    }
    #ico-back{
        height: 22px;
        padding-left: 15px;
        float: left;
    }
    .capa-titulo{
        width: 60%;
        float: left;
    }
    .titulo{
        text-align: center;
        font-size: 1.2em;
        color: $color-blanco;
    }
    .capa-notificaciones{
        width: 20%;
        float: left;
    }
    #ico-notificacion ,#ico-menu-lateral{
        padding-right: 15px;
        float: right;
        cursor: pointer;
    }
    #menu-desplegable{
        position:absolute;
        display: none;
        width:0;
        top:0;
        bottom: 0;
        right: 0;
        left:$ancho-maximo;
        height:100vh;
        background:$color-blanco;
        z-index: 99;
        #capa-usuario{
            position: relative;
            top:0;
            width: 100%;
            height: 100px;
            min-width: 340px;
            background: $color-azul;
            #ico-back-inversa{
                height: 30px;
                margin-top: -23px;
                margin-right: 15px;
                transform: rotate(180deg);
                float: right;
                cursor: pointer;
            }
            .texto{
                width: 80%;
                padding: 40px 20px 0 0;
                font-size: 1em;
                color: $color-blanco;
            }
        }
        #avatar{
            margin: 15px;
            float: left;
        }
        .opciones{
            position: relative;
            width: 80%;
            padding: 40px 20px 0 0;
            font-size: 1em;
            color: $texto-general;
            div{
                height: 25px;
                margin-bottom:20px;
                cursor: pointer;
            }
            p.texto{
                display: inline;
                position: relative;
                top: -5px;
            }
            img{
                height: 25px;
                margin:0 30px;
            }
        }
    }
    #capa-opaca{
        position:absolute;
        width:100%;
        top:0;
        height:100vh;
        display: none;
        background:rgba(0, 0, 0, 0.7);
        z-index: 9;
    }
}

/*SECCION*/
/*ARTICULO 1 - CLIENTE*/
section article#cliente{
    display: inline-block;
    padding: 20px 0;
    img{
        padding: 8px 7px 0 5px;
        float: left;
    }
    p.texto{
        font-size: 1.5em;
    }
}

/*ARTICULO 2 - DENTADURA*/
section article#dentadura{
    position: relative;
    padding: 20px 0;
    text-align:center;
    background-color: $fondo-gris;
    #btn-descargar{
        position: absolute;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
    }
    #texto-izq, #texto-drch, #texto-pal, #texto-leng{
        position: absolute;
        font-size: 1.2em;
        color: $color-azul;
    }
    #texto-izq, #texto-drch, #texto-pal, #texto-leng{
        position: absolute;
        font-size: 1.2em;
        color: $color-azul;
    }
    #texto-izq{
        top: 3%;
        left: 5%;
    }
    #texto-drch{
        top: 3%;
        right: 5%;
    }
    #texto-pal{
        top: 24%;
        width: 100%;
        text-align: center;
    }
    #texto-leng{
        width: 100%;
        top: 64%;
        text-align: center;
    }
}

/*ARTICULO 3 - OPERACION*/
section article#operacion{
    table{
        width: 90%;
        margin: 0 0 0 10%;
    }
    i{
        margin-right: 10px;
        color:$color-azul;
        font-size: 1.5em;
        float:left;
    }
    .circulo i{
        margin-right: 10px;
        color:$borde-gris;
        font-size: 1.5em;
        float:left;
        cursor: pointer;
    }
    .circulo i.fa-check-circle{
        color:$color-azul;
    }
}

/*FOOTER*/
footer{
    display: block;
    height: 75px;
    padding-top: 7px;
    border-top: solid 1px $borde-gris;
    background: $fondo-gris;
    .item-footer{
        width: 33.33%;
        text-align: center;
        float: left;
        cursor: pointer;
    }
    .item-footer img{
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}