$fondo-gris: rgb(244, 244, 244);
$texto-general: rgb(74, 74, 74);
$borde-gris: rgb(185, 185, 185);
$color-azul: rgb(0, 102, 172);
$ancho-maximo: 768px;

/*GENERICO*/
*{
    margin: 0;
    padding: 0;

}

section, article, nav, footer{
    font-family: Roboto;
    margin: 0 auto;
    max-width: $ancho-maximo;
}

/*MENU*/
.menuOdon{
    background: $color-azul;
    height: 75px;
}

.menuOdon  img{
    float: left;
}

.menuOdon h1{
    float: left;
}

.menuOdon ul{
    list-style: none;
    display:none;
}

nav.menuOdon ul li{
    float: left;
}

/*SECCION*/
/*ARTICULO 1 - CLIENTE*/
section article#cliente{
    display: inline-block;
    width: $ancho-maximo;
}

section article#cliente img{
    float: left;
    padding: 3px 5px 0 0;
}

/*ARTICULO 2 - DENTADURA*/
section article#dentadura{
    background-color: $fondo-gris;
    text-align:center;
}


/*ARTICULO 3 - OPERACION*/

section article#operacion table{
width: 80%;
margin: 0 10%;
}

section article#operacion .circulo-lleno i{
    font-size: 1.5em;
    color:$color-azul;
    float:left;
    margin-right: 10px;
}

section article#operacion .circulo-vacio i{
    font-size: 1.5em;
    color:$borde-gris;
    float:left;
    margin-right: 10px;
}

/*FOOTER*/

footer{
    border-top: solid 1px $borde-gris;
    width: 100%;
    background: $fondo-gris;
}
footer{
    display: block;
    background: $fondo-gris;
}
footer .item-footer{
    width: 33.33%;
    float: left;
    text-align: center;
}

footer .item-footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}